/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2

/ {
	keymap {
		compatible = "zmk,keymap";

		default_layer {
// ---------------------------------------------------------------------------------------------------------------------------------
// |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   | DELETE |
// |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  J    |  K    |  L   |   ;   |   '  |
// | SHIFT |  Z  |  X  |  C   |  V   |  B   |    LEFT | RIGHT |        | UP | DOWN |  N   |  M    |  ,    |  .   |   /   | SHIFT |
//                     | GUI  | CTRL  | L-ALT |  GUI  | LOWER |        | RAISE |  SPACE  | ENTER  | BSPC  | R-ALT |
			bindings = <
	&kp ESC   &kp Q &kp W &kp E &kp R &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P    &kp DELETE
	&kp TAB   &kp A &kp S &kp D &kp F &kp G                                                &kp H &kp J  &kp K     &kp L   &kp SEMI &kp SQT
	&kp LSHFT &kp Z &kp X &kp C &kp V &kp B &kp LEFT &kp RIGHT         &kp UP &kp DOWN &kp N &kp M  &kp COMMA &kp DOT &kp FSLH &kp LSHFT
	            &kp LGUI &kp LCTRL &kp LALT &kp LGUI &mo LOWER         &mo RAISE  &kp SPACE  &kp ENTER &kp BSPC &kp RALT
			>;

			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
		};
		
 		lower_layer {
// // ---------------------------------------------------------------------------------------------------------------------------------
// // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                                          |  Y   |  U    |  I    |  O   |   P   |   DELETE  |
// // |  TAB  |  A  |  S  |  D   |  F   |  G   |                                          |  H   |  LPAR |  RPAR |  LBRACE | RBRACE  |  '  |
// // | SHIFT |  Z  |  X  |  C   |  V   |  B   | L SHIFT | L SHIFT |  | L SHIFT | L SHIFT |  N   |  LBKT | RBKT  |  .   |   \   | CTRL |
// //                     | GUI  | DEL  | RET  |  SPACE  |   ESC   |  |   RET   |  SPACE  | TAB  | BSPC  | R-ALT |

 			bindings = <
 	&kp ESC   &kp Q &kp N1 &kp N2 &kp N3 &kp T                                                &kp Y &kp U  &kp I     &kp O   &kp P    &kp DELETE
 	&kp TAB   &kp A &kp N4 &kp N5 &kp N6 &kp G                                                &kp H &kp LPAR &kp RPAR &kp LBRACE &kp RBRACE &kp DQT
 	&kp LSHFT &kp Z &kp N7 &kp N8 &kp N9 &kp N0 &kp LEFT &kp RIGHT         &kp UP &kp DOWN &kp N &kp LBKT &kp RBKT &kp DOT &kp BSLH &kp LSHFT
	            &kp LGUI &kp LCTRL &kp LALT &kp LGUI &mo LOWER         &mo RAISE  &kp SPACE  &kp ENTER &kp BSPC &kp RALT
 			>;

 			sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
 		};
	};
};
